SistemaTramiteDocumentario/STDNegocio/Service References/WSCargo/CargoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CargoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:44593/CargoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:44593/CargoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:44593/CargoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STDDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICargo_ObtenerCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCargo" />
  </wsdl:message>
  <wsdl:message name="ICargo_ObtenerCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCargoResponse" />
  </wsdl:message>
  <wsdl:message name="ICargo_AgregarCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCargo" />
  </wsdl:message>
  <wsdl:message name="ICargo_AgregarCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarCargoResponse" />
  </wsdl:message>
  <wsdl:message name="ICargo_ObtenerNuevoCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNuevoCodigo" />
  </wsdl:message>
  <wsdl:message name="ICargo_ObtenerNuevoCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNuevoCodigoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICargo">
    <wsdl:operation name="ObtenerCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargo/ObtenerCargo" message="tns:ICargo_ObtenerCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargo/ObtenerCargoResponse" message="tns:ICargo_ObtenerCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCargo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargo/AgregarCargo" message="tns:ICargo_AgregarCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargo/AgregarCargoResponse" message="tns:ICargo_AgregarCargo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNuevoCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICargo/ObtenerNuevoCodigo" message="tns:ICargo_ObtenerNuevoCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICargo/ObtenerNuevoCodigoResponse" message="tns:ICargo_ObtenerNuevoCodigo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICargo" type="tns:ICargo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCargo">
      <soap:operation soapAction="http://tempuri.org/ICargo/ObtenerCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCargo">
      <soap:operation soapAction="http://tempuri.org/ICargo/AgregarCargo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNuevoCodigo">
      <soap:operation soapAction="http://tempuri.org/ICargo/ObtenerNuevoCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CargoService">
    <wsdl:port name="BasicHttpBinding_ICargo" binding="tns:BasicHttpBinding_ICargo">
      <soap:address location="http://localhost:44593/CargoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>