SistemaTramiteDocumentario/SistemaTramiteDocumentario/Service References/SWConsulta/ConsultaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44593/ConsultaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STDDatos" />
  <xs:element name="ListarTramites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTramitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/STDDatos" minOccurs="0" name="ListarTramitesResult" nillable="true" type="q1:ArrayOfTramite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTupa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTramite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTupaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/STDDatos" minOccurs="0" name="ListarTupaResult" nillable="true" type="q2:ArrayOfTupa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>