SistemaTramiteDocumentario/STDNegocio/Service References/WSExpediente/ExpedienteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44593/ExpedienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STDDatos" />
  <xs:element name="ObtenerExpediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerExpedienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/STDDatos" minOccurs="0" name="ObtenerExpedienteResult" nillable="true" type="q1:Expediente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarExpediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/STDDatos" minOccurs="0" name="pExpediente" nillable="true" type="q2:Expediente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarExpedienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarExpedienteResult" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/STDDatos" minOccurs="0" name="pExpediente" nillable="true" type="q3:Expediente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>