SistemaTramiteDocumentario/STDTest/Service References/WSSolicitante/SolicitanteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SolicitanteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:44593/SolicitanteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:44593/SolicitanteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:44593/SolicitanteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/STDDatos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolicitante_ListarSolicitante_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitante" />
  </wsdl:message>
  <wsdl:message name="ISolicitante_ListarSolicitante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitanteResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitante_ObtenerSolicitante_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitante" />
  </wsdl:message>
  <wsdl:message name="ISolicitante_ObtenerSolicitante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitanteResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitante_AgregarSolicitante_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitante" />
  </wsdl:message>
  <wsdl:message name="ISolicitante_AgregarSolicitante_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitanteResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolicitante">
    <wsdl:operation name="ListarSolicitante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitante/ListarSolicitante" message="tns:ISolicitante_ListarSolicitante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitante/ListarSolicitanteResponse" message="tns:ISolicitante_ListarSolicitante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitante/ObtenerSolicitante" message="tns:ISolicitante_ObtenerSolicitante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitante/ObtenerSolicitanteResponse" message="tns:ISolicitante_ObtenerSolicitante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitante">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitante/AgregarSolicitante" message="tns:ISolicitante_AgregarSolicitante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitante/AgregarSolicitanteResponse" message="tns:ISolicitante_AgregarSolicitante_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolicitante" type="tns:ISolicitante">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarSolicitante">
      <soap:operation soapAction="http://tempuri.org/ISolicitante/ListarSolicitante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitante">
      <soap:operation soapAction="http://tempuri.org/ISolicitante/ObtenerSolicitante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitante">
      <soap:operation soapAction="http://tempuri.org/ISolicitante/AgregarSolicitante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SolicitanteService">
    <wsdl:port name="BasicHttpBinding_ISolicitante" binding="tns:BasicHttpBinding_ISolicitante">
      <soap:address location="http://localhost:44593/SolicitanteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>